.form {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 32px;
  max-width: 630px;
  background: var(--color-fg);
  box-shadow: 0px 86px 35px rgba(0, 92, 83, 0.01),
    0px 49px 29px rgba(0, 92, 83, 0.05), 0px 22px 22px rgba(0, 92, 83, 0.09),
    0px 5px 12px rgba(0, 92, 83, 0.1), 0px 0px 0px rgba(0, 92, 83, 0.1);
  border-radius: 20px;
  @media screen and (max-width: 700px) {
    padding: 20px;
    gap: 20px;
  }
  h1 {
    color: var(--primary-surface);
    font-weight: 800;
    @media screen and (max-width: 700px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
    @media screen and (max-width: 700px) {
      gap: 20px;
    }
    .inputGroup {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 20px;
      @media screen and (max-width: 700px) {
        flex-direction: column;
        > * {
          min-width: 95%;
        }
      }
    }
    .btnGroup {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 12px;
    }
  }
  .info {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--primary-surface);
    font-weight: 700;
  }
}
