.counter {
  color: var(--primary-surface);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 40px 0;
  p {
    &:first-of-type {
      font-weight: 800;
      font-size: 64px;
      line-height: 77px;
      @media screen and (max-width: 700px) {
        font-size: 48px;
        line-height: 58px;
      }
    }
    &:last-of-type {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      @media screen and (max-width: 700px) {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}
.planet {
  // -webkit-transform: translate3d(0, 0, 0);
  z-index: 1;
}
.ellipse {
  // -webkit-transform: translate3d(0, 0, 0);
  // position: absolute;
  width: 2479px !important;
  height: 994px !important;
  top: 778px !important;
  z-index: 0;
}
