.nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  color: var(--primary-surface);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 40px;
  @media screen and (max-width: 700px) {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
  }
  .share {
    display: flex;
    align-items: center;
    gap: 16px;
    @media screen and (max-width: 700px) {
      span {
        &:first-of-type {
          display: none;
        }
      }
    }
  }
}
